.img-block{
  max-width: 256px;
}
.text{
  @include text-style;
  opacity: 0.8;

}

.text2{
  @include text-style(#FEFCF7);
}
// #FEFCF7;

.line{
  // @include lineBlock;
  background-color: #FDD6BA;
  height: 2px;
  margin-top: 50px;
  max-width: 760px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    background: #FEFCF7;
    border: 2px solid #0E8784;

    &:hover{
      background-color:red;
    }
    
  }
}
.site-header{
  padding: 40px 0;
  background-color: $main-color;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  
}
.site-header__container{
  @include flex;
  justify-content: space-between;
}
.site-header__list{
  @include flex;
}
.site-header__item{
  margin-left: 20px;
}
.block-text{
  margin-top: 99px;
}